body {
    user-select: none;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pack-icon {
    width: 64px;
    height: 64px;
}

.packs-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.pack {
    width: 150px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pack-description, .pack {
    border-radius: .25rem;
}

.pack.selected {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid seagreen;
    padding: 3px;
}

.pack-version {
    font-size: 0.7em;
    margin-top: auto;
    width: 100%;
    margin-bottom: 0.1em;
}

.pack-description {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}

.pack:hover .pack-description {
    display: flex;
    align-items: center;
}

#pagetitle {
    text-align: center;
}

header, footer {
    background-color: var(--bs-dark);
    color: var(--bs-light);
    margin-bottom: 1rem;
}


footer {
    margin-top: auto;
    padding: 0.5rem;
}

#credit {
    text-align: center;
}
#credit a {
    text-decoration: underline;
    color: inherit;
}